<form class="example-form" (submit)="submitTodo()">
  <mat-form-field class="example-full-width">
    <mat-label>What you're going to do?</mat-label>
    <input [(ngModel)]="newTodoItem" matInput name="username">
  </mat-form-field>

  <button mat-button type="submit">Submit</button>
</form>

<mat-card>
  <mat-card-content>
    <div class="todo-item" *ngFor="let item of todoItems">
      <mat-checkbox
        class="example-margin"
        [appTaskCompleted]="item.completed"
        [(ngModel)]="item.completed"
      >
        {{ item.title }}
      </mat-checkbox>
    </div>
  </mat-card-content>
</mat-card>
